.cards > .card {
    font-size: 2em;
    flex: 1 1 calc(100% / 6 - 0.4em);
    outline: 0.08em solid silver;
    margin: 0.2em;
    display: flex;
    cursor: default;
}

.cards > .card.hidden {
    background: silver;
}

.cards > .card.justMatched,
.cards > .card.justMismatched {
    outline: 0.1em solid green;
}
.cards > .card.justMismatched {
    outline-color: red;
}

.cards > .card.visible {
    cursor: not-allowed;
}

.cards > .card > .symbol {
    margin: auto;
}
